.container-fluid
  .row.bg-grey
    .col-4.py-5.px-5
      %h3 Dashboard
    .col-8.text-center.py-5.px-5.border-left
      = link_to 'Define new debt', users_path, class: 'btn btn-success'
  .row.bg-white
    .col
      %h4.c-red Debts
      - @dashboard.user_debts.each_value do |debt|
        = render 'debts/debt', object: debt, user: :creditor, type: :debt
    .col
      %h4.c-green Credits
      - @dashboard.user_credits.each_value do |credit|
        = render 'debts/debt', object: credit, user: :debtor, type: :credit
