.container-fluid.bg-white
  .row.bg-grey
    .col-4.py-5.px-5
      %h3 Dashboard
    .col-8.text-center.py-5.px-5.border-left
      = link_to 'Define new debt', users_path, class: 'btn btn-success'
  .row
