%h6
  You have logged in using
  - resource_class.omniauth_providers.each do |provider|
    = OmniAuth::Utils.camelize(provider)
= image_tag current_user.image, class: 'rounded-circle img-big'
%h6.mb-4
  = current_user.first_name
  = current_user.last_name