= form_tag(users_path) do
  .input-group
    .col-9
      = text_field_tag :query, nil, class: 'grey-input',
                                    placeholder: 'Find a user'
    .col-3
      = submit_tag 'Search', class: 'btn btn-success'
