.container-fluid.bg-grey
  .container
    .col-3.offset-4.text-center.py-3
      = render 'search'
.container
  %h5.text-center.border-bottom.font-weight-bold.my-4.pb-2
    or just pick someone from the list below
  .row.users.text-center
    - @users.each do |user|
      .col-6
        = render user if current_user != user
