- if object.errors.any?
  .alert.alert-danger.alert-dismissable.c-white.bg-alert
    %button.close{ 'aria-hidden' => 'true',
                    'data-dismiss' => 'alert',
                    type: 'button' } &times;
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
